<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.savethehacker.redcar"
        version     = "1.0.0" >

    <name>Redcar</name>

    <description>
        Smart Cab aggregator created for Save The Hacker 2015
    </description>

    <author href="https://build.phonegap.com" email="sreeni@amazon.com">
        Sreeni
    </author>

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
</widget>
